
    <style>
      #map_canvas {
        width: 30%;
        height: 30%;
       background-color: #CCC;
      }
    </style>



<div class="container">

  <div class="row">

    <div class="col-md-12">
    <div class="page-header"><h4>You've made it to the Weather Page</h4></div>

    <ul class="list-group">
      <li class="list-group-item">The current temperature at **<%= @address %>** is **<%= @the_temperature %>   ** degrees.</li>
      <li class="list-group-item">The outlook for the next hour is: **<%= @the_hour_outlook%>**</li>
      <li class="list-group-item">The outlook for the next day is: **<%= @the_day_outlook%>**</li>

    </ul>
    </div>

  <div class="row">
      <div class="col-md-12">
      <div id="map-canvas" style="width: 30%; height: 30%"></div>
      <h3>  Does text work here?</h3>
      </div>
  </div>
  </div>

</div>
